.idea
*.iml
*.egg-info
.tox/
.python-version
*.pyc
*.swp
build/
dist/
env/
*.egg-info/
*.zip
.DS_STORE
data/
docs/warnings.txt
docs/process_sources_warnings.txt
docs/_build/
src/oci_cli/help_text_producer/data_files/man
src/oci_cli/help_text_producer/data_files/text
scripts/temp/
target/
tests/resources/content_output.txt
tests/output/console_history_output.txt
tests/temp
.cache/
.project
.wercker/
