# Since the requirements.txt file doesn't support the --trusted-host option
# (https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format),
# you may need to use the --extra-index-url option instead.

appdirs==1.4.3
arrow>=1.0.0
certifi
cffi>=1.9.1
click==7.1.2
coverage==4.5.2
cryptography>=3.2.1,<=39.0.0
httpsig-cffi==15.0.0
Jinja2==3.0.3
jmespath==0.10.0
ndg-httpsclient==0.4.2
mock==2.0.0
oci==2.89.0
packaging==20.2
pluggy==0.13.0
py==1.10.0
pyasn1==0.2.3
pyOpenSSL>=22.1.0
pycparser==2.20
pyparsing==2.2.0
pytest==3.2.3
pytest-cov==2.5.1
python-dateutil>=2.5.3,<3.0.0
pytz>=2016.10
requests==2.21.0
setuptools<45
six>=1.15.0
sphinx==3.3.0
sphinx-rtd-theme==0.4.3
terminaltables==3.1.0
tox==3.23.0
vcrpy==1.13.0
virtualenv==20.13.0
pytest-xdist==1.22.2
pytest-forked==1.0.2
PyYAML>=5.4,<6
docutils==0.15.2
prompt-toolkit==3.0.29
